body {
    background-color: bisque;
}footer {
    background-color: black;
    color: white;
}footer {
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
}footer {
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer {
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
}/* código omitido */

#container {

}

/* código omitido *//* código omitido */

#container {
    display: flex;
}

/* código omitido *//* código omitido */

#container {
    display: flex;
}

.cartao {
    margin: 1rem 1rem;
}

/* código omitido *//* código omitido */

#container {
    display: flex;
}

.cartao {
    margin: 1rem 1rem;
    background-color: aqua;
}

/* código omitido *//* código omitido */

#container {
    display: flex;
}

.cartao {
    margin: 1rem 1rem;
    background-color: aqua;
    height: 20rem;
}

/* código omitido *//* código omitido */

#container {
    display: flex;
}

.cartao {
    margin: 1rem 1rem;
    background-color: aqua;
    height: 20rem;
    flex-grow: 1;
}

/* código omitido *//* código omitido */

#container {
    display: flex;
}

.cartao {
    margin: 1rem 1rem;
    background-color: aqua;
    height: 20rem;
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
}

/* código omitido */

#container {
    display: flex;
}

.cartao {
    margin: 1rem 1rem;
    background-color: aqua;
    height: 20rem;
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
}

.cartao__conteudo {
    text-align: center;
}

/* código omitido *//* código omitido */

.cartao__conteudo {
    text-align: center;
    background-color: aquamarine;
}

/* código omitido *//* código omitido */

.cartao__conteudo {
    text-align: center;
    background-color: aquamarine;
    height: 100%;
}

/* código omitido *//* código omitido */

.cartao {
    /*margin: 1rem 1rem;*/
    background-color: aqua;
    height: 20rem;
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
}

.cartao__conteudo {
    text-align: center;
    background-color: aquamarine;
    height: 100%;
}

/* código omitido *//* código omitido */

.cartao {
    margin: 1rem 1rem;
    background-color: aqua;
    height: 20rem;
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
}

.cartao__conteudo {
    text-align: center;
    /*background-color: aquamarine;*/
    height: 100%;
}

/* código omitido *//* código omitido */

.cartao__conteudo h3 {
    background-color: tomato;
}

/* código omitido *//* código omitido */

.cartao__conteudo h3 {
    background-color: tomato;
    text-align: left;
}

/* código omitido *//* código omitido */

.cartao__conteudo h3 {
    background-color: tomato;
    text-align: left;
    padding: 0.5rem;
}

/* código omitido *//* código omitido */

.cartao__conteudo h3 {
    background-color: tomato;
    text-align: left;
    padding: 0.5rem;
    position: absolute;
}

/* código omitido *//* código omitido */

.cartao__conteudo h3 {
    background-color: tomato;
    text-align: left;
    padding: 0.5rem;
    position: absolute;
    margin: 0.6rem;
    border-radius:0.6rem;
    font-size: 1vw;
    
}

/* código omitido */body {
    background: url('img/bg-desktop.webp');
    font-family: Bai Jamjuree;
}:root {
    --text-color: #DBE4EF;
    --card-front-color: #144480;
    --card-back-color: #00F4BF;
}.cartao__conteudo h3 {
    color: var(--text-color);
    border: 1px solid var(--text-color);
    text-align: left;
    padding: 0.5rem;
    position: absolute;
    margin: 0.6rem;
    border-radius: 0.6rem;
    font-size: 1vw;
}.cartao__conteudo {
    background-color: var(--card-front-color);
    text-align: center;
    /* background-color: aquamarine; */
    height: 100%;
}.cartao {
    margin: 1rem 1rem;
    height: 20rem;
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
}.cartao__conteudo__pergunta p {
    color: var(--text-color);
}.cartao__conteudo__pergunta p {
    color: var(--text-color);
    font-weight: 500;
}

.cartao__conteudo__resposta p {
    color: var(--card-back-color);
    font-weight: 700;
}.cartao:hover .cartao__conteudo {
    transform: rotateY(180deg);
}.cartao__conteudo {
    background-color: var(--card-front-color);
    text-align: center;
    /* background-color: aquamarine; */
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 300ms ease-in-out;
}.cartao__conteudo h3 {
    color: var(--text-color);
    border: 1px solid var(--text-color);
    text-align: left;
    padding: 0.5rem;
    position: absolute;
    margin: 0.6rem;
    border-radius: 0.6rem;
    font-size: 1vw;
    backface-visibility: hidden;
}.cartao__conteudo__pergunta,
.cartao__conteudo__resposta {
    backface-visibility: hidden;
}.cartao__conteudo__resposta {
    transform: rotateY(180deg);
}.cartao__conteudo__pergunta,
.cartao__conteudo__resposta {
    backface-visibility: hidden;
    position: absolute;
}.cartao__conteudo__pergunta,
.cartao__conteudo__resposta {
    backface-visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
}.cartao__conteudo p {
    margin-top: 1rem;
    padding: 2rem;
    margin-top: 4rem;
}<!-- código omitido -->

<article class="cartao">
    <div class="cartao__conteudo">
        <h3>Programação</h3>
        <div class="cartao__conteudo__pergunta">
            <p>0 que é JavaScript?</p>
        </div>
        <div class="cartao__conteudo__resposta">
            <p>0 JavaScript é uma linguagem de programação</p>
        </div>
    </div>
</article>

<!-- código omitido --><!-- código omitido -->

<article class="cartao">
    <div class="cartao__conteudo">
        <h3>Geografia</h3>
        <div class="cartao__conteudo__pergunta">
            <p>Qual a capital da França?</p>
        </div>
        <div class="cartao__conteudo__resposta">
            <p>A capital da França é Paris</p>
        </div>
    </div>
</article>

<!-- código omitido --><!-- código omitido -->

<article class="cartao">
    <div class="cartao__conteudo">
        <h3>Programação</h3>
        <div class="cartao__conteudo__pergunta">
            <p>0 que é JavaScript?</p>
        </div>
        <div class="cartao__conteudo__resposta">
            <p>0 JavaScript é uma linguagem de programação</p>
        </div>
    </div>
</article>

<!-- código omitido -->/* código omitido */

#container {
    display: flex;
}

/* código omitido *//* código omitido */

#container {
    display: flex;
     flex-wrap: wrap;
}

/* código omitido */